@font-face {
  font-family: zendot;
  src: url(../public/fonts/Syncopate-Bold.ttf);
}
@font-face {
  font-family: inter;
  src: url(..//public/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: monsterat;
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000625;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

body {
  background-color: #000419;
}

.logo:hover {
  transform: scale(0.96);
  transition: 0.3s;
}

.logo:not(:hover) {
  transform: scale(1);
  transition: 0.3s;
}

.nav-item:hover {
  opacity: 0.8;
  transition: 0.3;
  cursor: pointer;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #3183ff;
  background-image: linear-gradient(150deg, transparent, #0751bf);
  border-radius: 15px;
  padding: 16px 35px;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover {
  background-color: #0751bf;
  transform: scale(0.94);
  color: white;
}

.subtitle {
  color: #3183ff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #1d2838;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 9px 18px;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
  width: fit-content;
  text-align: center;
}

.icon-feature-bg {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(140deg, #1d2838, rgba(29, 40, 56, 0.5));
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.main-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-div p {
  padding: 30px;
  padding-top: 5px;
}

.partnership-div {
  background-color: rgba(62, 74, 92, 0.3);
  border-radius: 16px;
  border: solid 1px transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.partnership-div img {
  display: flex;
  justify-content: center;
}

.grid-container-2 {
  grid-row-gap: 20px;
  column-gap: 50px;
}

.partnership-div:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(33.82deg, #0076f3 18.34%, #61ecc2 77.9%, #fff3e4 90.22%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000419 inset;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.05;
}
.form-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
}
.form-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
}

.form-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
}

.cool-input {
  padding: 17px 15px;
  border: none;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  color: #333;
  font-size: 16px;
  width: 100%;
  font-family: Monsterat;
  height: 60px;
  position: relative;
}

.cool-input::placeholder {
  font-size: 14px;
}
.sub-tech {
  margin-top: 50px;
}
.cool-button {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0;
  border-radius: 100px;
  background: linear-gradient(
    60.65deg,
    #0076f3 28%,
    #61ecc2 80.04%,
    #fff3e4 92%
  );
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 12px 31px;
  font-weight: bold;
}

.cool-button:hover {
  transition: 1s;
  opacity: 0.8;
}

.cool-input:focus {
  outline: none;
}

.header-1 {
  font-size: 5.5rem;
}
.header-2 {
  font-size: 4.375rem;
}
.header-3 {
  font-size: 3.75rem;
}
.header-4 {
  font-size: 5rem;
}
.header-5 {
  font-size: 3.75rem;
}

.navbar-toggler {
  background-color: #1d2838;
}
.sticky-container {
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sticky-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  height: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: -1;
}

.sticky-container,
.sticky-container::after {
  border-bottom: none;
}

.fadein {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.show.fadein {
  opacity: 1;
}

.navbar {
  animation: flash;
  animation-duration: 2s;
}

.card{
  background-color:  rgba(62, 74, 92, 0.3);

  border-radius: 15px;
}
.card img{
  border-top-left-radius:15px ;
  border-top-right-radius: 15px;
}

.card-body h2,p{
  color: white;
}

.card-body h2{
  color: #3183FF !important;
} 



@media (min-width: 1201px) {
  .custom-div-1 {
    padding-bottom: 80px;
  }
  .div-of-tech {
    display: flex;
    justify-content: start;
  }
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech-header,
  .tech-paragraph {
    text-align: center;
  }
  .div-of-tech {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 515px) {
  video {
    width: 400px;
  }
  .header-1,
  .header-2,
  .header-3,
  .header-4,
  .header-5 {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  .header-2 {
    font-size: 3rem;
  }
  .form-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cool-button {
    right: 27px;
  }
}
@media (max-width: 400px) {
  video {
    width: 350px;
  }
  .header-1,
  .header-3,
  .header-4,
  .header-5 {
    font-size: 3rem;
  }
  .header-2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  video {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .navbar {
    z-index: 100000;
  }
  .expanded-menu {
    background-image: linear-gradient(
      150deg,
      #1d2838 35%,
      rgba(21, 29, 41, 0.75)
    );
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 15px 0px;
  }
  .nav-item {
    font-size: 18px;
    padding-bottom: 5px;
    font-family: inter;
    padding-left: 35px;
    color: rgba(216, 223, 233, 0.8);
  }
  .collapse {
    animation: fadeInDown;
    animation-duration: 0.5s;
    overflow-y: hidden;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .nav-item {
    color: #b3bac5;
    font-size: 13px;
    font-family: zendot;
    padding-left: 10px;
    font-weight: lighter;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns on larger screens */
  gap: 16px; /* Adjust the gap as needed */
 
}

@media (max-width: 991px) {
  .grid-container-3 {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 480px) {
  .grid-container-3 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    align-items: center;
    width: 300px;
  }
  .head-card{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


